CompileFlags:
  Compiler: /usr/bin/g++-14
  Add:
    - -std=c++23
    - -I/usr/include/c++/14
    - -I/usr/include/x86_64-linux-gnu/c++/14
    - -I/usr/lib/gcc/x86_64-linux-gnu/14/include
    - -I/usr/local/include
    - -I/usr/include